# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xcuserstate

# Swift Package Manager
.build/
Packages/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive

# Bundler
.bundle/

# IDEs
.idea/
.vscode/

# Testing
*.xctestplan

# Firebase
GoogleService-Info.plist
